In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import datasets
from sklearn.metrics import accuracy_score,f1_score,recall_score, classification_report

from sklearn.metrics import roc_auc_score
import pickle
pd.set_option('display.max_columns', None)

In [2]:
hr_data = pd.read_csv("hr_data.csv")

In [3]:
hr_data

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Gender_Female,Gender_Male
0,51,0,1,6,2,1,1,1,5.117801,1.0,Y,11,8,0,1.0,6,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1,31,1,2,10,1,1,2,1,4.622110,0.0,Y,23,8,1,6.0,3,5,1,4,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0
2,32,0,2,17,4,1,3,4,5.286187,1.0,Y,15,8,3,5.0,2,5,0,3,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1
3,38,0,0,2,5,1,4,3,4.920176,3.0,Y,11,8,3,13.0,5,8,7,5,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
4,32,0,1,10,1,1,5,1,4.369587,4.0,Y,12,8,2,9.0,2,6,0,4,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,1,5,4,1,4406,1,4.780245,3.0,Y,17,8,1,10.0,5,3,0,2,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0
4406,29,0,1,2,4,1,4407,1,4.427973,2.0,Y,15,8,0,10.0,2,3,0,2,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
4407,25,0,1,25,2,1,4408,2,4.568436,0.0,Y,20,8,0,5.0,4,4,1,2,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1
4408,42,0,1,18,2,1,4409,1,4.379849,0.0,Y,14,8,1,10.0,2,9,7,8,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
4409,40,0,1,28,3,1,4410,2,4.737829,0.0,Y,12,8,0,0.0,6,21,3,9,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1

# RandomForest

In [4]:
X=hr_data.drop(['Attrition','Over18','EmployeeID'],axis=1)
y=hr_data['Attrition']
X_train, X_test,y_train, y_test =train_test_split(X,y,train_size=0.7)

In [5]:
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [6]:
y_pred=rfc.predict(X_test)

In [7]:
print("ACC:",accuracy_score(y_test,y_pred))
print("recall:",recall_score(y_test,y_pred))
print("F1:",f1_score(y_test,y_pred))

ACC: 0.9977324263038548
recall: 0.9844559585492227
F1: 0.9921671018276762

In [8]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1130
           1       1.00      0.98      0.99       193

    accuracy                           1.00      1323
   macro avg       1.00      0.99      1.00      1323
weighted avg       1.00      1.00      1.00      1323

In [9]:
y_pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

## Predicting Probability score

In [10]:
df = pd.DataFrame(rfc.predict_proba(X_test)).drop(columns=0)

- Dropping the first column named 0 because 0 means No Attrition, 1 means yes Attrition
- Since we are checking the likelihood of getting churned, we are using column named 1

In [11]:
df

         1
0     0.01
1     0.00
2     0.29
3     0.93
4     0.02
...    ...
1318  0.63
1319  0.64
1320  0.12
1321  0.14
1322  0.62

[1323 rows x 1 columns]

In [56]:
X_test

,Age,BusinessTravel,DistanceFromHome,Education,EmployeeCount,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Gender_Female,Gender_Male
984,40,1,6,3,1,3,5.020444,1.0,11,8,1,21.0,6,21,12,8,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
1065,28,0,7,3,1,1,4.952599,1.0,16,8,1,3.0,3,3,2,2,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1
2699,22,0,8,3,1,3,5.035470,1.0,16,8,1,1.0,2,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
4323,19,2,10,2,1,2,4.621903,0.0,22,8,1,1.0,4,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1
1271,37,1,4,3,1,4,5.204988,1.0,13,8,0,7.0,2,7,0,7,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,46,1,10,3,1,1,4.645619,4.0,11,8,1,13.0,2,9,3,7,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1
1137,31,2,2,1,1,3,4.850891,1.0,14,8,1,10.0,2,10,0,8,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1
3224,38,1,1,3,1,3,4.983130,4.0,13,8,1,10.0,2,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0
3956,31,1,8,5,1,5,5.117934,1.0,12,8,2,13.0,6,12,5,7,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1
978,36,1,1,3,1,2,4.528402,5.0,20,8,0,16.0,3,2,2,2,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1

In [51]:
df.reset_index(drop=True, inplace = True)

In [55]:
rfc.predict_proba(X_train)

array([[0.98, 0.02],
       [0.96, 0.04],
       [1.  , 0.  ],
       ...,
       [1.  , 0.  ],
       [0.97, 0.03],
       [1.  , 0.  ]])

In [20]:
# Saving model using pickle
pickle.dump(rfc, open('model.pkl','wb'))

In [21]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))

In [12]:
id = 102
hr_data.loc[hr_data['EmployeeID'] == id]

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Gender_Female,Gender_Male
101,36,0,2,6,3,1,102,2,4.678609,4.0,Y,13,8,1,16.0,2,13,1,12,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0

In [33]:
id = 1048
for i in hr_data["EmployeeID"]:
    if i == id:
        input_variable = hr_data.loc[hr_data["EmployeeID"] == i].drop(['Attrition','Over18','EmployeeID'],axis=1)
score = model.predict_proba(input_variable)[0][1]
print(score)

0.02

In [34]:
score.dtype

dtype('float64')

In [55]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

def calc_score(emp_id):
    hr_data = pd.read_csv("hr_data.csv")
    X=hr_data.drop(['Attrition','Over18','EmployeeID'],axis=1).values
    y=hr_data['Attrition'].values
    X_train, X_test,y_train, y_test =train_test_split(X,y,train_size=0.8)
    model=RandomForestClassifier()
    model.fit(X_train,y_train)
    
    for i in hr_data["EmployeeID"]:
        if i == emp_id:
            input_variable = hr_data.loc[hr_data["EmployeeID"] == i].drop(['Attrition','Over18','EmployeeID'],axis=1)
            score = df.model.predict_proba(input_variable)[0][1]
    return score
calc_score(786)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

0.0

In [46]:
score="21"
type(score)

str

In [47]:
score = int(score)

In [48]:
type(score)

int